build --cxxopt='-std=c++20'
build --enable_platform_specific_config
build:macos --host_platform @io_bazel_rules_dotnet//dotnet/toolchain:darwin_amd64_5.0.201
build:macos --platforms @io_bazel_rules_dotnet//dotnet/toolchain:darwin_amd64_5.0.201
build:linux --host_platform @io_bazel_rules_dotnet//dotnet/toolchain:linux_amd64_5.0.201
build:linux --platforms @io_bazel_rules_dotnet//dotnet/toolchain:linux_amd64_5.0.201
build -c opt
build --action_env BAZEL_USE_CPP_ONLY_TOOLCHAIN=1
build --action_env CC=clang
